<ion-view view-title="memApp">
  <ion-content>
    <div id='content'>
      <h2>Welcome</h2>
      <h3>To the memApp</h3>
      <p>This application is a basic memory test. You will be given 15 secs to remember 9 images with their positions. Good Luck!</p>
      
    </div>
    <div id="frame">
              
       <div class = "row">
     <div class = "col col-33"><img id="0" ng-click = "getImg(0)" src="{{imgs[0].data}}" width="100%" height="100%"></div>
     <div class = "col col-33"><img id="1" ng-click = "getImg(1)" src="{{imgs[1].data}}" width="100%" height="100%"></div>
     <div class = "col col-33"><img id="2" ng-click = "getImg(2)" src="{{imgs[2].data}}" width="100%" height="100%"></div>
       </div>
              <div class = "row">
     <div class = "col col-33"><img id="3" ng-click = "getImg(3)" src="{{imgs[3].data}}" width="100%" height="100%"></div>
     <div class = "col col-33"><img id="4" ng-click = "getImg(4)" src="{{imgs[4].data}}" width="100%" height="100%"></div>
     <div class = "col col-33"><img id="5" ng-click = "getImg(5)" src="{{imgs[5].data}}" width="100%" height="100%"></div>
       </div>
        <div class = "row">
     <div class = "col col-33"><img id="6" ng-click = "getImg(6)" src="{{imgs[6].data}}" width="100%" height="100%"></div>
     <div class = "col col-33"><img id="7" ng-click = "getImg(7)" src="{{imgs[7].data}}" width="100%" height="100%"></div>
     <div class = "col col-33"><img id="8" ng-click = "getImg(8)" src="{{imgs[8].data}}" width="100%" height="100%"></div>
       </div>

      
    </div>
     <div class="new_button"><center><span style="display:none;" id="spin"><ion-spinner icon="android"></ion-spinner></span><br><button id="load__button" class="button button-positive" ng-click="__load()">New Game</button></center></div>
    <center><button id="start__button" class="button button-assertive" ng-click="__start()">Start!</button></center>
    <div class="progress__style"><!-- <progress class="progress" value="{{val}}" max="150"> --><div id="prog" style="width:{{val}}%"></div></div>
    <!-- <div ng-repeat="hi in hia"> -->


    <div class = "row" id="find" style="display:none;">
     <div class = "col col-33">Find:</div>
     <div class = "col col-33"><img src="{{vim}}" width="100%" height="100%"></div>
     <div class = "col col-33"></div>
       </div>

      <!-- {{tst}} -->
  </ion-content>
</ion-view>
